/* _services.scss */

#services{

  h2 {
    font-size: 36px;
    font-family: "RomainBold", Georgia, serif;
  }

  img {
    display: grid;
    width: 100%;
    height: auto;
  }

  .search-icon {
  display: fixed;
  margin-top: 2.1rem;
  color: _palette(accent);
  }

  .cell-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Dynamic columns, responsive to container width
    grid-template-rows: repeat(3, auto); // Exactly 3 rows with automatic height
    gap: 1rem; // Space between grid items
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    h3{
      color: _palette(accent);
    }
  }
  
#search{
  margin-top: -3.3rem;
  margin-left: 1.5rem;
}
  
}