/* Services */

  #services{

    .period {
      color: #ff0000; 
    }

    h2 {
      font-size: 30px;
    }

    .search-icon {
    display: fixed;
    margin-top: 2.1rem;
    color: _palette(accent);
    }

  #search {
    margin-top: -3.3rem;
    margin-left: 1.5rem;
  }

    .cell-container {

      h3 {
        color: _palette(fg);
        transition: color 0.3s ease;

        &:hover {
          color: _palette(accent);
        }
      }
    }
    
  }